<div class="margin-v-2x">
    <% if matchup[0] %>
    <% side = matchup[0] %>
    <% team = side[:team] %>
    <div class="grid pad-v-half bg-white rounded margin-v-half border">
        <div class="col text-gray-dark width-15-px">
            <%= team[:seed] %>
        </div>
        <div class="col">
            <div class="uniformThumb round overflow-hidden width-40-px height-40-px">
                <img src="<%= team[:logo] %>">
            </div>
        </div>
        <div class="col-fill">
            <div class="">
                <a class="text-bold block text-gray-darkest hover-blue text-no-decoration" href="https://football.fantasysports.yahoo.com/f1/<%= team[:league_id] %>/<%= team[:id] %>">
                    <%= team[:name] %>
                </a>
                <div class="text-gray-dark text-small">
                    <%= team[:manager] %>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="">
                <%= side[:points] %>
            </div>
            <div class="text-italic text-small text-gray-dark">
                <%= side[:projected_points] %>
            </div>
        </div>
    </div>
    <% else %>
    <div class="grid pad-v-half bg-white rounded margin-v-half border">
        <div class="col text-gray-dark width-15-px"></div>
        <div class="col">
            <div class="uniformThumb round bg-gray-light overflow-hidden width-40-px height-40-px">
            </div>
        </div>
        <div class="col-fill text-bold">
            &mdash;
        </div>
    </div>
        
    <% end %>
    
    <% if matchup[1] %>
    <% side = matchup[1] %>
    <% team = side[:team] %>
    <div class="grid pad-v-half bg-white rounded margin-v-half border">
        <div class="col text-gray-dark width-15-px">
            <%= team[:seed] %>
        </div>
        <div class="col">
            <div class="uniformThumb round overflow-hidden width-40-px height-40-px">
                <img src="<%= team[:logo] %>">
            </div>
        </div>
        <div class="col-fill">
            <div class="">
                <a class="text-bold block text-gray-darkest hover-blue text-no-decoration" href="https://football.fantasysports.yahoo.com/f1/<%= team[:league_id] %>/<%= team[:id] %>">
                    <%= team[:name] %>
                </a>
                <div class="text-gray-dark text-small">
                    <%= team[:manager] %>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="">
                <%= side[:points] %>
            </div>
            <div class="text-italic text-small text-gray-dark">
                <%= side[:projected_points] %>
            </div>
        </div>
    </div>
    <% else %>
        <div class="grid pad-v-half bg-white rounded margin-v-half  border">
            <div class="col text-gray-dark width-15-px"></div>
            <div class="col">
                <div class="uniformThumb round bg-gray-light overflow-hidden width-40-px height-40-px">
                </div>
            </div>
            <div class="col-fill text-bold">
                &mdash;
            </div>
        </div>
    <% end %>
</div>