<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1,user-scalable=0">

    <title>Super League Scoreboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="container pad-v-4x">
        <div class="text-center margin-bottom-4x">
            <%= image_tag('logo.png', class:'inline-block width-200-px height-auto') %>
        </div>
    
        <div class="tabNav text-center margin-bottom">
            <a href="/standings" class="<%= "active" if controller.action_name == "standings" %>">
                Standings
            </a>
            <a href="/bracket" class="<%= "active" if controller.action_name == "bracket" %>">
                Bracket
            </a>
            <a href="https://docs.google.com/document/d/e/2PACX-1vQvVXeJrYHTriOtWxLknwdpWc1WdnM3NBUidYgw-PNoK52gcsLJXw890JH2feImIMp4fSUTV_nuhm6T/pub" target="_blank">
                Rules
            </a>
        </div>
        <%= yield %>
    </div>
</body>
</html>
